.titlebar {
	display: flex;
	justify-content: left;
	align-items: center;
	padding: 10px;
	background-color: #f0f0f0;
}
.title {
	text-decoration: none;
	color: inherit;
}
.title_text {
	font-size: 24px;
	text-align: center;
	margin-left: 100px;
	margin-right: 100px;
}

.linkitem {
	font-size: 18px;
	margin-left: 15px;
	margin-right: 15px;
	text-decoration: none;
	color: inherit;
}

.linkitem:hover,
.linkitem:focus {
	transform: scale(1.1);
}
